/* form */
form{
    font-size: .9rem;
    }
    .form-control {
        display: block;
        width: 100%;
        /*height: calc(2.25rem);
        padding: .375rem .75rem;
        font-size: 1em;*/
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: .025em solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .form-container {
        width:100%;
        padding: .8em;
        border: .025em solid #c3465c;
        border-radius: 1.5em;
    }
    
    .form-container-buscar {
        padding: 1.25em;
        width: 100%;
        margin-top: 0em;
        margin-bottom: 2.5em; 
    }
    
    form h1{
        color: #c3465c;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 2.25em;
    }
    
    form h2{
        color: #c3465c;
        text-align: center;
        font-family: 'Pacifico', cursive;
        font-size: 2em;
    }
    
    form .parrafo-buscar{
        text-align: center;
        font-size: 1.3em;
    
    }
    form .fieldset-animal{
        background-color:#ffff72;
        padding: 1.25em;
        margin: .75em;
        border-radius: .8em;
    }
    
    form .fieldset-persona{
        background-color:#e9ecef;
        padding:  1.25em;
        margin: .75em;
        border-radius:  .8em;
    }
    
    form .fieldset-buscar{
        background-color:#ffff72;
        border-radius:10px;
        text-align: center;
        padding: 1.5em;
        margin: .75em;
    }
    
    form .fieldset-buttons{
        text-align: right;
    }
    
    form label{
        font-weight: 500;
    }
    
    /* form botones */
    
    form .btn-primary{
        background-color:#c3465c;
        border: .025em solid #c3465c;
        color: white;
        font-weight: 800;
        width: auto;
        min-width: 6,25em;
        padding: .5em 1em;
    }
    
    form .btn-primary:focus,
    form .btn-primary:active, 
    form .btn-primary:hover,
    form .btn-primary:not(:disabled):not(.disabled):active   {
        background-color:#c8b900;
        border: .025em solid #c8b900;
    }
    form .btn-secondary{
        background-color: #d6dbe1;
        border: .025em solid #d6dbe1;
        color: #c3465c;
        font-weight: 800;
        width: auto;
        min-width: 6,25em;
        padding: .5em 1em;
    }
    form .btn-primary:focus,
    form .btn-primary:active, 
    form .btn-primary:hover,
    form .btn-primary:not(:disabled):not(.disabled):active{
        background-color:#c8b900;
        border: .025em solid #c8b900;
    }